 <html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App - About</title>
    <!-- Link to the CSS file -->
    <!-- Master Styles /> -->
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>

      {{>header}}
     
     <div>
      <h1>{{title}}</h1>
      <p>My Weather App uses two different Api to gather and give you back correct data
       for a given location.
      </p>
     </div>

       {{>footer}}
   
  </body>
</html>